// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_main{
	background-image: url(https://s3-ap-southeast-1.amazonaws.com/stalfire/1389024461background_reagan_wireless_daniel_kaufman.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	min-width: 100%;
	min-height: 100%;
	text-align: center;
	padding-top: 10%;

}
#user_sign_up_body{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/stalfire/1389024461background_reagan_wireless_daniel_kaufman.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
}
#user_sign_up{
  text-align: center;
  padding-top: 5%;
}

/*//User form//*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500);


button:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.65);
}

::-webkit-input-placeholder .input-line:focus +::input-placeholder {
  color: #fff;
}

.highlight {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  cursor: pointer;
  transition: color .2s ease;
  text-decoration: none;
}

.highlight:hover {
  color: #fff;
  transition: color .2s ease;
}

.spacing {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 120px;
  font-weight: 300;
  text-align: center;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.65);
}

.input-line:focus {
  outline: none;
  border-color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.ghost-round {
  cursor: pointer;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.65);
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.65);
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  font-size: 19px;
  font-size: 1.2rem;
  font-family: roboto;
  font-weight: 300;
  line-height: 2.5em;
  margin-top: auto;
  margin-bottom: 25px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.ghost-round:hover {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.input-line {
  background: none;
  margin-bottom: 10px;
  line-height: 2.4em;
  color: #fff;
  font-family: roboto;
  font-weight: 300;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
  font-size: 19px;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  border: none;
  border-radius: 25px;
}

.full-width {
  width: 100%;
}

.input-fields {
  margin-top: 25px;
}

.content {
  padding-left: 25px;
  padding-right: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  z-index: 5;
}

.welcome {
  font-weight: 200;
  margin-top: 75px;
  text-align: center;
  font-size: 40px;
  font-size: 2.5rem;
  letter-spacing: 0px;
  letter-spacing: 0.05rem;
}

.subtitle {
  text-align: center;
  line-height: 1em;
  font-weight: 100;
  letter-spacing: 0px;
  letter-spacing: 0.02rem;
}



.window {
  z-index: 100;
  color: #fff;
  font-family: roboto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  height: 560px;
  width: 360px;
  background: #fff;
  border-radius: 15px;
  margin-left: 15%;
  margin-top: 5%;
  text-align: center;
}

.overlay {
  background: -webkit-linear-gradient(#8CA6DB, #B993D6);
  background: linear-gradient(#8CA6DB, #B993D6);
  opacity: 0.85;
  filter: alpha(opacity=85);
  height: 560px;
  position: absolute;
  width: 360px;
  z-index: 1;
  border-radius: 15px;
}


@media (max-width: 500px) {
  .window {
    width: 100%;
    height: 100%;
  }
  .overlay {
    width: 100%;
    height: 100%;
  }
}
@media (max-height: 800px) {
  .window {
    margin-top: 5px;
  }
  #user_sign_up{
    padding: 10px;
  }
}

#edit_profile_picture{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#edit_profile_image{
  width: 60%;
}
#edit_profile_button{
  text-decoration: none;
  color: #806238;
}
#edit_profile_button:hover{
  color: white;
}

/*//User show Page//*/

#user_show_main{
  background-image: url(https://s3-ap-southeast-1.amazonaws.com/stalfire/1389024461background_reagan_wireless_daniel_kaufman.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  height: 800px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300);

$brown: #786450;

.frame {
  position: relative;
  top: 30%;
  left: 30%;
  width: 400px;
  height: 400px;
  margin-top: -100px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
  background: #CA7C4E;
  background: -webkit-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
  background: -moz-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
  background: -o-linear-gradient(bottom left, #EEBE6C 0%, #CA7C4E 100%);
  background: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#EEBE6C', endColorstr='#CA7C4E',GradientType=1 ); 
  color: $brown;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50px;
  left: 40px;
  height: 299px;
  width: 320px;
  background: #fff;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 10px 10px 15px 0 rgba(0,0,0,0.3);
}

.profile {
  float: left;
  width: 320px;
  height: 320px;
  text-align: center;
   
  .name {
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
  }
  
  .email {
    font-size: 11px;
    line-height: 15px;
  }
  
  .actions {
    margin-top: 23px;
    
    .btn {
      display: block;
      width: 120px;
      height: 30px;
      margin: 0 auto 10px auto;
      background: none;
      border: 1px solid $brown;
      border-radius: 15px;
      font-size: 12px;
      font-weight: 600;
      box-sizing: border-box;
      transition: all .3s ease-in-out;
      color: $brown;

      a{
        text-decoration: none;
        color: brown;
      }
      &:hover {
        background: $brown;
        color: #fff;
      }
    }
  }
  
}

.stats {
  float: left;
  
  .box {
    box-sizing: border-box;
    width: 120px;
    height: 99px;
    background: #F5E8DF;
    text-align: center;
    padding-top: 28px;
    transition: all .4s ease-in-out;
    
    &:hover {
      background: #E1CFC2;
      cursor: pointer;
    }
    
    &:nth-child(2) {
      margin: 1px 0;
    }
    
  }
  
  span {
    display: block;
  }
  
  .value {
    font-size: 18px;
    font-weight: 600;
  }
  
  .parameter {
    font-size: 11px;
  }
  
}